
<h1>Bio-data</h1>
<div class="container">
  <p><b>Name:</b> Swagat Panda</p>
  <p><b>Registration no.:</b> 201800523</p>
  <p><b>Email:</b> swagat_201800523@smit.smu.edu.in</p>
  <p><b>Bio:</b> Hello! My name is Swagat Panda, a future Computer Science Engineer. My field of interest are web
    development (both
    front-end and back-end) and graphic design. I am looking forward to obtain an internship in the same field. My other
    interests include photography, reading, singing, and playing different musical instruments like piano, guitar and
    ukulele</p>
</div>
